*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*--- Font ---*/
@font-face {
    font-family: 'Unity Sans Basic';
    src: url('./font/UnitySans-Basic.ttf')   
}

@font-face {
    font-family: 'Unity Sans Display';
    src: url('./font/UnitySans-Display.ttf')   
}

@font-face {
    font-family: 'Unity Sans DisplayMax';
    src: url('./font/UnitySans-DisplayMax.ttf')   
}

/*--- Body ---*/

body{
    margin: 0;
    padding: 1em 0.75em 0;
    font-family: 'Unity Sans Basic', sans-serif;
    background-color: #DAE2DA;
}

.container{
    background-color: whitesmoke;
    width: auto;
    /*border: 1px solid black;*/
    border-radius: 25px;
    box-shadow: 1px 1px 3px black;
}

.cont-pad{
    padding: 1rem;
}

/*--- Typography ---*/

h1{
    font-family: 'Unity Sans Display', sans-serif;
    font-size: 13vw;
    margin: 0;
}

span{
    font-family: 'Unity Sans DisplayMax', sans-serif;
    color: whitesmoke;
    background-color: #060606;
}

h2{
    font-size: 3rem;
    text-align: center;
    margin: 1.25em auto 0.5em;
}

h3{
    font-size: 1.5rem;
}

p{
    margin-top: 0;
}

i{
    font-size: 0.5em;
    margin-left: 0.25em;
    align-self: self-start;
}

a{
    text-decoration: none;
    color: white;
}

button{
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    color: whitesmoke;
}

li{
    list-style-type: square;
}

.mid-grid,
.template-grid{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
    gap: 1.25em;
}

/*Main*/

.right-main{
    display: flex;
    flex-direction: column;

}

.per-inf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.per-inf,
.buttons{
    flex-grow: 1;
}

/*--- Card ---*/

.template{
    display: flex; 
    flex-direction: column;
}

.temp-img{
    width: 100%;
    z-index: 1;
}

.text-card{
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    background-color: #7F9679;
    z-index: 2;
    margin-top: -10vh;
    box-shadow: 1px 1px 5px black;
}

.temp-img,
.text-card{
    border-radius: 25px;
}

.card_name{
    color: black;
}

.name{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.25em;
    align-self: center;
}

.tag-feed{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.descryption{
    flex-grow: 1;
}

/*--- Buttons ---*/
.buttons{
    display: grid;
    grid-template: repeat(2, 50px) / repeat(2, 1fr);
    gap: 0.5em;
    margin-top: 1.25em;
}

button{
    padding: 0.5em 0;
    border-radius: 25px;
    width: 100%;
    border: none;
    box-shadow: 1px 1px 5px black;
}

.buttons button{
    height: 100%;
}

.btn-lin{
    background-color: rgb(69, 69, 255);
}

.btn-lin:hover{
    background-color: rgb(21, 21, 216);
}

.btn-git{
    background-color: black;
}

.btn-git:hover{
    background-color: rgb(46, 46, 46);
}

.btn-inst{
    background-color: #C13584;
}

.btn-inst:hover{
    background-color: #E1306C;
}

.btn-tg{
    background-color: #24A1DE;
}

.btn-tg:hover{
    background-color: #1982b3;
}

i{
    font-size: 1rem;
    margin-right: 0.5em;
}

/*Tag*/
.tag{
    width: 90px;
    padding: 0.13em;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

.html{
    background-color: #f06529;
}

.css{
    background-color: #663399;
}

.jscript{
    background-color: #F0DB4F;
}

.wordpress{
    background-color: #24A1DE;
}

@media screen and (min-width: 576px){
    
    body{
        padding-left: 2em;
        padding-right: 2em;
    }

    h1{
        font-size: 8vw;
    }


    .mid-grid{
        flex-direction: row;
        grid-gap: 1.25em;
    }

    .skills,
    .right-main{
        width: 50%;
        height: auto;
    }
    
    .buttons{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}


@media (min-width: 768px){

    h1{
        font-size: 7vw;
    }

    .text h3{
        font-size: 2vw;
    }

    .icon-share{
        display: flex;
        justify-content: space-between;
        align-self: center;
        gap: 1.25em;
    }

    .template-grid{
        display: grid;
        grid-template: auto / repeat(auto-fit, minmax(310px, 1fr)) ;
        justify-content: center;
    }
}

@media (min-width: 1024px){
    body{
        padding-left: 8em;
        padding-right: 8em;
    }

    h1{
        font-size: 6vw;
    }

    .per-inf,
    .skills,
    .hobby{
        padding-left: 4em;
        padding-right: 4em;
    }
}
