body{
    margin: 0;
    padding: 3em 0.75em 0;
    font-family: 'Source Sans 3', sans-serif;
}

.container{
    width: auto;
    padding: 1em;
    /*border: 1px solid black;*/
    border-radius: 25px;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 1.25em;
}
p{
    margin-top: 0;
}

i{
    font-size: 0.5em;
    margin-left: 0.25em;
    align-self: self-start;
}

a{
    text-decoration: none;
    color: black;
}

/*Header*/


/*Main*/

.myphoto{
    display: block;
    margin-left: auto;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.myphoto,
.temp-img{
    border-radius: 25px;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 1.25em;
}

.temp-img{
    width: 100%;
    margin-bottom: 0.625em;
}

h1{
    font-size: 1.75rem;
}

blockquote{
    font-family: 'Lora', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.75em;
}

.quote p{
    font-size: 1.35rem;
    font-weight: 700;
    text-align: end;
}

.per-inf p{
    margin-left: 1.5em;
}

.data{
    font-size: 0.9rem;
    margin-bottom: 0.66em;
 }

.name{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.25em;
    align-self: center;
}


.tag{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
}

.descryption{
    text-align: justify;
}

.btn,
.per-inf a{
    padding: 0.5em 0;
    border-radius: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.per-inf a{
    background-color: rgb(69, 69, 255);
    border: 1px solid black;
    color: black;
}

.btn{
    background-color: black;
    color: white;
}

a:hover{
    color: orange;
}

/*Tag*/
.html-tag,
.css-tag,
.js-tag{
    width: 90px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

.html-tag{
    background-color: rgb(255, 153, 0);
}

.css-tag{
    background-color: rgb(113, 9, 210);
}

.js-tag{
    background-color: rgb(220, 220, 32);
}

/*Footer*/

.icon-share{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.icon-share a{
    width: 45%;
    font-size: 4em;
    text-align: center;
    border-radius: 25px;
    box-shadow: 1px 1px 3px black;
    padding-bottom: 0.25em;
}

footer p{
    margin-top: 1em;
    text-align: center;
}